// 🎨 Colores principales
$color-primary: rgb(12, 126, 126);
$color-secondary: rgb(0, 39, 45);
$color-accent: rgb(191, 172, 139);
$color-light: #f2f0eb;
$color-dark: #000000;

// Fondos
$bg-form: rgb(19, 70, 71);

// 🌐 Tipografía
$font-base: 'Segoe UI', sans-serif;
$font-size-base: 16px;
$font-size-title: 35px;
$font-size-h1: 45px;
$font-size-h2: 30px;
$font-size-p: 25px;

// 📐 Espaciados
$padding-section: 40px;
$margin-section: 20px;

// 🔳 Sombras
$shadow-base: 5px 5px 10px 2px rgba(0,0,0,0.5);
$shadow-card: 0 10px 25px rgba(0, 0, 0, 0.2);
